* {
  margin: 0;
}
.register {
  width: 8%;
  height: 70%;
  margin-left: 70vw;
  margin-top: 0.6%;
  padding: 0.5%;
  border: solid white;
  border-radius: 20px;
  background: #ff7373;
  color: #fff;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 90%;
  cursor: pointer;
}

.login {
  width: 8%;
  height: 70%;
  margin-top: 0.6%;
  margin-left: 0.5%;
  padding: 0.5%;
  border: solid white;
  border-radius: 20px;
  background: #73ABFF;
  color: #fff;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 90%;
  cursor: pointer;
}
