.storyContainer {
  position: relative;
  left: 13%;
}

.storyItem{
  position: relative;
}

.images {
  width: 21.1875rem;
  height: 30rem;
}

.options {
  position: absolute;
  display: flex;
  width: 43.5%;
  height: 12%;
  z-index: 1;
  background: linear-gradient(180deg, #000 59.6%, rgba(0, 0, 0, 0.00) 102.31%);
}

.closebtn {
  position: absolute;
  cursor: pointer;
  top: 70%;
  left: 5%;
}

.link {
  position: absolute;
  margin-left: 80%;
  top: 70%;
  cursor: pointer;
}

.toggle {
  width: 80%;
  display: inline;
  position: absolute;
  margin-top: 35%;
  z-index: 1;
}

.previous {
  cursor: pointer;
}

.next {
  cursor: pointer;
  margin-left: 75%;
}

.details {
  position: absolute;
  background: linear-gradient(180deg, #000 59.6%, rgba(0, 0, 0, 0.00) 102.31%);
  width: 43.3%;
  z-index: 1000;
  margin-top: 55%;
  height: 35%;
}

.heading {
  font-size: 1.5rem;
  color: white;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 5%;
  margin-left: 5%;
}

.description {
  font-size: 1.25rem;
  color: white;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 3%;
  margin-left: 5%;
}

.postAction {
  position: relative;
  width: 100%;
  margin-top: 10%;
}

.bookmarkbtn {
  margin-left: 10%;
}

.likebtn {
  margin-left: 65%;
  z-index: 1200;
  cursor: pointer;
}

.loadingbar{
  margin-top: 5%;
  width: 10%;
  position: absolute;
}
